.title {
    padding: 20px;
    margin: 0;

    font-size: 32px;
    font-weight: 700;
}

.wrapper {
   .info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 17rem;
        padding-left: 21rem;

        &__view {
            &.view {
                display: flex;

                border: 2px solid $color-gray-less;
                border-radius: 3px;

                text-align: center;

                padding: 10px;

                .view {
                    &__title {
                        color: $color-gray-less;
                        padding-right: 20px;
                    }
                    &__count {
                        color: $color-black;

                        &::after {
                            content: url(../img/icons/Vector.svg);
                            width: 1rem;
                            height: 1rem;

                            padding-left: 10px;
                        }
                    }
                }
            }
        }

        &__sort {
            &.sort {
                display: flex;
                border: 2px solid $color-gray-less; 

                padding: 5px;

                .sort {
                    &__title1 {
                        color: $color-gray-less;
                        padding-right: 15px;

                    }

                    &__title2 {
                        color: $color-black;

                        &::after {
                            content: url(../img/icons/Vector.svg);
                            width: 1rem;
                            height: 1rem;
                            padding-left: 10px;
                            opacity: .5;
                        }
                    }
                }
            }
        }
    }

    .sections {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .section1 {
            width: 25%;
           
            font-size: 16px;

        }
       
        hr {
         margin-bottom: .5rem;   
        }

            .multiselect {
                width: 100%;
            }

            .selectBox {
                position: relative;
                color: $color-black;
            }
            
            .selectBox select {
                width: 100%;
                font-weight: bold;

                border: none;
                padding-top: 1rem;
                padding-bottom: .5rem;
            }
            
            .overSelect {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }

            #checkboxes9,
            #checkboxes8,
            #checkboxes7,
            #checkboxes6,
            #checkboxes5,
            #checkboxes4,
            #checkboxes3,
            #checkboxes2,
            #checkboxes1 {
                display: none;
                
                border: none;

                color: $color-gray-less;
            }
            
            #checkboxes9 label,
            #checkboxes8 label,
            #checkboxes7 label,
            #checkboxes6 label,
            #checkboxes5 label,
            #checkboxes4 label,
            #checkboxes3 label,
            #checkboxes2 label,
            #checkboxes1 label {
                display: block;

                padding-top: .5rem;
            }

            .checkbox__view {
                border: none;
                border-bottom: 2px solid $color-gray-less;
                padding-top: .5rem;
                padding-right: 9.5rem;
                padding-bottom: .5rem;
                color: $color-black;
                

            }
            
            #checkboxes9 label:hover,
            #checkboxes8 label:hover,
            #checkboxes7 label:hover
            #checkboxes6 label:hover,
            #checkboxes5 label:hover,
            #checkboxes4 label:hover
            #checkboxes3 label:hover,
            #checkboxes2 label:hover,
            #checkboxes1 label:hover {
                background-color: #1e90ff;
            }
        
        
    
    
        .section2__product {
            &.product {
                display: flex;
                flex-direction: column;

                margin-bottom: 1rem;
                width: 20%;
            }

            .product {
                display: flex;
                flex-direction: column;

                padding-top: 1rem;
                padding-left: 20px;

                &__image {
                    display: flex;
                    justify-content: center;
                   
                }

                &__description {
                    color: $color-gray-less;
                    font-size: 14px;

                    & p {
                                
                        &::before {
                            content:' Niche: ';
                            font-weight: 600;
                            color: $color-black;
                        }
                    }    
                }

                &__price {
                    display: flex;
                                                   
                    &--new {
                        color: $color-black;
                        font-size: 16px;
                        font-weight: 600;
                    }
                    
                    &--old {
                        color: $color-black;
                        opacity: .5;
                        text-decoration: line-through;
                        font-size: 16px;
                        font-weight: 600;

                        padding-left: 10px;
                    }
                        
                }
            
                &__rating {
                    padding-left: 40px;
                }
            }

            .product3 {
                display: flex;
                flex-direction: column;

                padding-top: 1rem;
                padding-left: 20px;

                &__image {
                    display: flex;
                    justify-content: center;
                }

                &__description {
                    color: $color-black;
                    font-size: 14px;

                    letter-spacing: .06rem;

                    & h4 {
                        font-weight: 600;
                        color: $color-black;
                        padding: 0;
                        margin: 0;
                    }

                    & p {
                        padding: 0;
                        margin: 0; 
                    }
                        
                }

                &__price {
                    display: flex;
                                
                    &--new {
                        color: $color-black;
                        font-size: 16px;
                        font-weight: 600;
                    }
                    
                }
            
                &__rating {
                    padding-left: 100px;
                }
            }
        } 
        .section3__product {
            &.product {
                display: flex;
                flex-direction: column;

                margin-bottom: 1rem;
                width: 20%;

                border-left: 2px solid $color-gray-less;
                border-right: 2px solid $color-gray-less;
            }
                
            .product {
                display: flex;
                flex-direction: column;
                        
                padding-top: 1rem;
                padding-left: 20px;
                
                &__image {
                    display: flex;
                    justify-content: center;
                }
                
                &__description {
                    color: $color-gray-less;
                    font-size: 14px;
                
                    & p {
                                        
                        &::before {
                            content:' Weston:  ';
                            font-weight: 600;
                            color: $color-black;
                        }
                    }    
                }
                
                &__price {
                    display: flex;
                                        
                    &--new {
                        color: $color-black;
                        font-size: 16px;
                        font-weight: 600;
                    }              
                }
                        
                &__rating {
                        padding-left: 100px;
                }
            }

            .product3 {
                display: flex;
                flex-direction: column;

                padding-top: 1rem;
                padding-left: 20px;

                &__image {
                    display: flex;
                    justify-content: center;
                }

                &__description {
                    color: $color-black;
                    font-size: 13px;

                    letter-spacing: .06rem;

                    & h4 {
                        font-weight: 600;
                        color: $color-black;
                        padding: 0;
                        margin: 0;
                    }

                    & p {
                        padding: 0;
                        margin: 0; 
                    }
                        
                }

                &__price {
                    display: flex;
                                
                    &--new {
                        color: $color-black;
                        font-size: 16px;
                        font-weight: 600;
                    }
                    
                }
            
                &__rating {
                    padding-left: 100px;
                }
            }
        }

        .section4__product {
            &.product {
                display: flex;
                flex-direction: column;

                margin-bottom: 1rem;
                width: 20%;
            }

            .product {
                display: flex;
                flex-direction: column;

                padding-top: 1rem;
                padding-left: 20px;

                &__image {
                    display: flex;
                    justify-content: center;
                }

                &__description {
                    color: $color-gray-less;
                    font-size: 14px;

                    & p {
                                
                        &::before {
                            content:' Niche: ';
                            font-weight: 600;
                            color: $color-black;
                        }
                    }    
                }

                &__price {
                    display: flex;
                                
                    &--new {
                        color: $color-black;
                        font-size: 16px;
                        font-weight: 600;
                    }
                                    
                }
            
                &__rating {
                    padding-left: 100px;
                }
            }

            .banner {
                border: 2px solid $color-gray-less;

                display: flex;
                flex-direction: column;

                padding-bottom: 1rem;
                margin-left: 1rem;

                &__image {
                    img {
                        width: 237px;
                        height: 184px;
                    }
                }

                &__title {
                    color: $color-black;

                    text-align: center;
                }

                &__link {
                    text-align: center;

                    a {
                        color: $color-black;
                    }
                }
            }
        }
    }

    .categories__title {
        color: $color-black;
        opacity: .5;
        font-size: 16px;
        margin: 0%;
        
    }

    .sellings {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .selling {
            display: flex;
            flex-direction: column;

            border: 2px solid $color-gray-less;

            &__image {
                padding: 2rem;
                img {
                    width: 160px;
                    height: 160px;
                }
            }

            &__title {
                color: $color-black;
                
                padding-left: .5rem;


            }

            &__price {
                padding-left: .5rem;
                padding-top: 1rem;
                padding-bottom: 1rem;

                font-size: 700;

            }
        }
    }
    .Sale__title{
        text-align: center;
    }
    hr {
        margin: 2rem 0 2rem 0;
    }

    .swiper-button-prev::after {
        color: $color-gray-less;

                
    }

    .swiper-button-next::after {
        color: $color-gray-less;

        
    }

    .help {
        border: none;
        text-align: center;
        width: 50%;
        float: left;

        &__title {
            font-weight: 600;
            font-size: 16px;
            padding: .5rem;

        }
    
        &__phone a {
            color: $color-black;
            font-weight: 600;
        }

    }

    .stay {
        display: flex;
        flex-direction: column;

        border: none;
        width: 50%;

        &__title {
            font-weight: 600;
            font-size: 16px;

            text-align: center;

            padding: .5rem;

        }

        &__description {
            text-align: center;
            padding: .5rem;

        }

        legend {
            font-size: 10px;

            padding-left: 11rem;
        }
        &__email {
            display: flex;
            flex-direction: row;

            text-align: center;
            padding-left: 11rem;

        }
          
    }
   
    .page {
        display: flex;
        justify-content: center;
        align-items: center;


        color: $color-gray-less;

        &__count {
            color: $color-black;
            border: 2px solid $color-gray-less;
            padding: .5rem 1rem;

            margin: 0 10px;

            &::after {
                content: url(../img/icons/Vector.svg);
                padding-left: 10px;
                opacity: .5;

            }

        }
    }
   
}
@media (max-width: 1024px) {
    .wrapper {
        .info {
            gap: 6rem;   
         
        }

        .sections {
               
            .section1 {
                width: 23%;
               
                font-size: 16px;


                .checkbox__view {
                    
                    padding-right: 4rem;
            
                    
    
                }
    
            }

            .section2__product {
                &.product {
                    width: 23%;
                }
                
                .product {
                    &__rating {
                        padding-left: 20px;
                    }
                }

                    .product3__rating {
                        padding-left: 80px;
                        margin-bottom: 1rem;
                    }
            }

            .section3__product {
                &.product {
                    width: 23%;    
                }
                .product {
                    &__rating {
                        padding-left: 65px;
                    }
                }
                .product3__rating {
                    padding-left: 65px;
                    margin-bottom: 1rem;
                }

            }

            .section4__product {
                &.product {
                    width: 23%;
                }
                .product {
                    margin-bottom: .7rem;
                    padding-top: .3rem;

                    &__rating {
                        padding-left: 65px;
                    }
                }
                .banner {
                    padding-bottom: 0;
                    margin-left: 0;
                    margin-right: .5rem;
                    margin-bottom: 1rem;

                    &__image {
                        img {
                            width: 220px;
                            height: 170px;
                        }
                    }
                }

            }
        }

        .sellings {
            justify-content: space-evenly;

            .selling {
                width: 15%;
            

                &__image {
                    padding:  0;
                    padding-top: 10px;
                    text-align: center;

                    img {
                        width: 130px;
                        height: 130px;
                    }
                }
            }
        }

        .swiper-button-prev::after {
           
    
            
        }
    
        .swiper-button-next::after {
           
        }

        .help {
        
            
        }
        .stay {
            margin-right: 0;

            legend {
                padding-left: 7rem;
            }
            &__email {
                padding-left: 7rem;
            }

        }


    }
}

@media (max-width: 768px) {
    .wrapper {
        .info {
            gap: 0;   
            padding-left: 12rem;
         
        }

        .sections {
               
            .section1 {
                width: 23%;
               
                font-size: 13px;


                .checkbox__view {
                    
                    padding-right: .5rem;
            
                    
    
                }
    
            }

            .section2__product {
                &.product {
                    width: 23%;
                }
                
                .product {
                    padding-left: 5px;

                    &__image {
                        img {
                            width: 45%;
                        }
                    }

                    &__description {
                        font-size: 12px;
                    }

                    &__price--new {
                        font-size: 14px;
                    }

                    &__price--old {
                        font-size: 14px;

                        padding-left: 5px;
                    }

                    &__rating {
                        padding-left: 5px;

                        img {
                            width: 15%;
                        }
                    }
                }

                .product3 {
                    padding-left: 5px;

                    &__image {
                        img {
                            width: 45%;
                        }
                    }

                    &__description {
                        font-size: 12px;
                    }

                    &__price--new {
                        font-size: 14px;
                    }


                    &__rating {
                        padding-left: 50px;

                        img {
                            width: 15%;
                        }
                    }
                }

                   
            }

            .section3__product {
                &.product {
                    width: 23%;    
                }
                .product {
                    padding-left: 5px;
                    padding-top: .5rem;

                    &__image {
                        padding-top: 3px;

                        img {
                            width: 50.5%;
                        }
                    }

                    &__description {
                        font-size: 12px;

                        p {
                            margin: 0;
                            margin-bottom: 4px;
                            padding-top: 14px;
                        }
                    }

                    &__price--new {
                        font-size: 14px;
                    }

                    &__rating {
                        padding-left: 40px;

                        img {
                            width: 15%;
                        }
                    }
                }

                .product3 {
                    padding-left: 5px;
                    padding-top: .5rem;

                    &__image {
                        img {
                            width: 45%;
                        }
                    }

                    &__description {
                        font-size: 12px;
                    }

                    &__price--new {
                        font-size: 14px;
                    }


                    &__rating {
                        padding-left: 40px;

                        img {
                            width: 15%;
                        }
                    }
                }
            }

            .section4__product {
                &.product {
                    width: 23%;
                }
                .product {
                    padding-left: 5px;
                    padding-top: .5rem;

                    &__image {
                        padding-top: 3px;

                        a {
                            width: 100%;
                            text-align: center;
                            }
                        
                        img {
                            width: 45%;
                        }
                    }

                    &__description {
                        font-size: 12px;

                        p {
                            margin: 0;
                            margin-bottom: 4px;
                            padding-top: 14px;
                        }
                    }

                    &__price--new {
                        font-size: 14px;
                    }

                    &__rating {
                        padding-left: 40px;

                        img {
                            width: 15%;
                        }
                    }
                }
                .banner {
                    padding-bottom: 0;
                    margin-left: 0;
                    margin-right: .5rem;
                    margin-bottom: 1rem;

                    &__image {
                        img {
                            width: 161px;
                            height: 130px;
                        }
                    }

                    &__title {
                        h3 {
                            font-size: 15px;
                            margin: .5em;
                        }

                        h5 {
                            font-size: 13px;
                            margin: .5em;
                        }
                    }
                }

            }
        }

        .sellings {
            .selling {
                width: 19%;

                &__image {
                 
                    img {
                        width: 100px;
                        height: 100px;
                    }
                }
            }
        }

        .stay {
            margin-right: 0;

            legend {
                padding-left: 3rem;
            }
            &__email {
                padding-left: 3rem;
            }

        }
    }

}











.page {
    .path::after {
        content: ' All-Mountain Snowboards ';
        color: $color-gray-less;
    }
    &__product {
        display: flex;
        gap: 10rem;
      
        .image {
            display: flex;
            flex-direction: column;
            width: 50%;

            &__all {
                display: flex;
                flex-direction: row;
            }

            .image1 {
                padding-left: 11rem;
                padding-top: 1rem;
                padding-bottom: 2rem;

                img {
                    width: 206px;
                }
            }    
        }

        .page__description {
            display: flex;
            flex-direction: column;
            width: 50%;
            gap: .5rem;

            p {
                font-weight: 700;
                font-size: 34px;
                letter-spacing: .08em;
            }

            .rating {
                display: flex;
                flex-direction: row;
                align-items: center;

                img {
                    height: 22px;
                }
            }

            .price {
                font-weight: 700;
                font-size: 32px;
            }

            .quantity {
                display: flex;
                align-items: center;
                gap: .5rem;

                &__plus1,
                &__plus2  {
                    border: 2px solid $color-gray-less;
                    border-radius: 50%;
                    height: 35px;
                    width: 35px;

                }              
                &__count {
                    border: 1px solid $color-gray-less;
                    padding: 5px;
                }
            }

            .size {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: .5rem;

                &__bord {
                    border: 2px solid $color-gray-less;
                    padding: 5px;
                }
            } 

            .bay {
                font-size: 14px;
            }

            .checkboxes__radio {
                display: flex;
                flex-direction: column;
                gap: .5rem;
            }

            .des__checkb {
                font-size: 16px;
                color: $color-black;
                border-bottom: 1px solid $color-gray-less;
            }
        }

    }

    .multiselect {
        width: 100%;
    }

    .selectBox {
        position: relative;
        color: $color-black;
    }
            
    .selectBox select {
        width: 100%;
        font-weight: bold;

        border: none;
        padding-top: 1rem;
        padding-bottom: .5rem;
    }
            
    .overSelect {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

            
    #checkboxes10,
    #checkboxes11,
    #checkboxes12,
    #checkboxes13,
    #checkboxes14 {
        display: none;
                
        border: none;

        color: $color-gray-less;
    }
            
            
    #checkboxes10 label,
    #checkboxes11 label,
    #checkboxes12 label,
    #checkboxes13 label,
    #checkboxes14 label {
        display: block;

        padding-top: .5rem;
    }
          
    #checkboxes10 label:hover,
    #checkboxes11 label:hover {
        background-color: #1e90ff;
    }
    .sellings {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .selling {
            display: flex;
            flex-direction: column;

            border: 2px solid $color-gray-less;

            &__image {
                padding: 2rem;
                img {
                    width: 160px;
                    height: 160px;
                }
            }

            &__title {
                color: $color-black;
                
                padding-left: .5rem;


            }

            &__price {
                padding-left: .5rem;
                padding-top: 1rem;
                padding-bottom: 1rem;

                font-size: 700;

            }
        }
    }
    .Sale__title{
        text-align: center;
    }
    hr {
        margin: 2rem 0 2rem 0;
    }

    .swiper-button-prev::after {
        color: $color-gray-less;

      
        
    }

    .swiper-button-next::after {
        color: $color-gray-less;

       
    }

    .help {
        border: none;
        text-align: center;
        width: 49%;
        float: left;

        padding-bottom: 4px;

        background-color: $color-gray-less;

        &__title {
            font-weight: 600;
            font-size: 16px;
            padding: .5rem;

        }
    
        &__phone a {
            color: $color-black;
            font-weight: 600;
        }

    }

    .stay {
        display: flex;
        flex-direction: column;

        border: none;
        width: 49%;

        background-color: $color-gray-less;

        float: right;
        padding-bottom: 27px;

        &__title {
            font-weight: 600;
            font-size: 16px;

            text-align: center;

            padding: .5rem;

        }

        &__description {
            text-align: center;
            padding: .5rem;

        }

        legend {
            font-size: 10px;

            padding-left: 11rem;
        }
        &__email {
            display: flex;
            flex-direction: row;

            text-align: center;
            padding-left: 11rem;

        }
          
    }
}

@media (max-width: 1024px) {
    .page {
        .sellings {
            justify-content: space-evenly;

            .selling {
                width: 15%;
            

                &__image {
                    padding:  0;
                    padding-top: 10px;
                    text-align: center;

                    img {
                        width: 130px;
                        height: 130px;
                    }
                }
            }
        }

        .swiper-button-prev::after {
           
    
            
        }
    
        .swiper-button-next::after {
           
        }

        .help {
        
            
        }
        .stay {
            margin-right: 0;

            legend {
                padding-left: 7rem;
            }
            &__email {
                padding-left: 7rem;
            }

        }


    }
}

@media (max-width: 768px) {
    .page {
        &__product {
            .image {
                .image1 {
                    padding-left: 0;
                    padding-top: 2rem;
                    img {
                        width: 38%;

                        margin-left: 9rem;
                    }
                }
                &__all {
                    img {
                        width: 23%;
                    }
                }

                hr {
                    margin: 1rem 0 1rem 0;
                }

                form {
                    font-size: 10px;

                    hr {
                        margin: 1rem 0 1rem 0;
                    }


                }
            }

            .page__description {
                p {
                    font-size: 20px;
                    margin-bottom: 5px;
                    margin-top: 5px;
                }

                .rating {
                    img {
                        height: 16px;
                    }
                }
                .price {
                    font-size: 18px;
                }

                .size {
                    h4 {
                        margin-top: 0;
                        margin-bottom: 0;
                        font-size: 13px;
                    }
                    &__bord {
                        padding: 2px;
                    }
                }
                .quantity {
                    h4 {
                        font-size: 12px;
                    }
                    &__plus1,
                    &__plus2 {
                        height: 20px;
                        width: 20px;
                    }
                    &__count {
                        font-size: 10px;
                        padding: 2px;
                    }
                }
                .checkboxes__radio {
                    font-size: 12px;
                    input {
                        width: 10px;

                    }
                }
                .bay {
                    font-size: 12px;
                }

                hr {
                    margin: .5rem 0 .5rem 0;
                } 

                .des__checkb {
                    font-size: 10px;
                }

                a {
                    font-size: 10px;
                }
              
            }
        }
    





        .sellings {
            .selling {
                width: 19%;

                &__image {
                 
                    img {
                        width: 100px;
                        height: 100px;
                    }
                }
            }
        }

        .stay {
            margin-right: 0;

            legend {
                padding-left: 3rem;
            }
            &__email {
                padding-left: 3rem;
            }

        }
    }
}



