.btn {
    &__blue {
        border: none;
        border-radius: 4px;
        background-color: $color-blue;
        padding: 10px;
        color: $color-white;
        text-decoration: none;

    }

    &__blue1 {
        border: none;
        border-radius: 4px;
        background-color: $color-blue;

        padding: 10px 19px;
        color: $color-white;
        width: 7rem;
        margin: .5rem 15.5rem;
    }

    &__blue2 {
        border: none;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
        background-color: $color-blue;

        color: $color-white;
        width: 7rem;
    }

    &__white {
        border: 1px solid $color-white;
        border-radius: 20px;
        color: $color-white;
        font-size: 16px;
        font-weight: 400;

        align-items: center;
        text-align: center;
        letter-spacing: 0.03em;

        padding: 5px 40px 5px 40px;
        background-color: rgba(0, 0, 0, 0.01);
    }

    &__blue3 {
        border: none;
        background-color: $color-blue;
        padding-top: 1rem;
        padding-bottom: 1rem;

        color: $color-white;
        width: 100%;
    }

    &__white2 {
        border: 1px solid $color-gray;
        color: $color-black;
        padding-top: 1rem;
        padding-bottom: 1rem;

        width: 100%;

    }

}

@media (max-width: 1024px) {
    .btn {
        &__blue1 {
            margin: .5rem 11.5rem;
        }
    }

}

@media (max-width:768px) {
    .btn {
        &__blue1 {
            margin: .5rem 8.5rem;
        }

        &__blue3 {
            padding-top: .5rem;
            padding-bottom: .5rem;
    
        }

        &__white2 {
            padding-top: .5rem;
            padding-bottom: .5rem;
        }
    }
}