.header {
    width: 100%;
    height: auto;

    background-color: $color-gray-less;

    &__top {
        &.top {
        background-color: $color-black;
        color: $color-white;
        font-size: 12px;
        text-align: center;

        }
        .top {
            &__title {
                padding: 0.5rem;
                margin: 0;
            }
        }
    }
    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        .logo {
            display: flex;
            align-items: center;
        
            &__title {
                display: flex;
                align-items: center;
                justify-content: center;

                color: $color-black;
                font-size: 18px;
                padding-left: 10px;
            }
        }
        .search {
            display: flex;
            align-items: center;
        
            position: relative;
    
            &:before {
                content: url(../img/icons/search.svg);
                width: 1rem;
                height: 1rem;

                position: absolute;
                top: 0.5rem;
                left: 1rem;

                opacity: .5;

                z-index: 5;
            }

            input::placeholder {
                font-size: 16px;
                color: $color-black;
                opacity: .5;
                
            }

                &__input {
                    width: 24rem;
                
                    border: 2px solid $color-white;
                    border-radius: 31px;

                    background-color: $color-white;
                    outline: none;

                    padding: 0.5rem 2rem 0.5rem 3rem;
                }
        }
        .client {
            display: flex;
            align-items: center;
            justify-content: space-between;

            gap: 1rem;

            &__lang {
                &.lang {
                    display: flex;   
                    align-items: center;
                }
                .lang {
                    &__image {
                        padding-left: .5rem;
                    }
                }
            }
            &__account {
                &.account {
                    display: flex;   
                    align-items: center;
                }
                .account {
                    &__image {
                        padding-left: .5rem;
                    }
                }
            }

            &__cashe {
                &.cashe {
                    display: flex;   
                    align-items: center;
                }
                .cashe {
                    &__image {
                        padding-left: .5rem;
                    }
                }
            }

            &__busket {
                &.busket {
                    display: flex;   
                    align-items: center;
                }

                .busket {  
                    &__count {
                        color: $color-red; 
                        padding-bottom: .9rem;
                    }
                }
            
            }
        }
    }

    &__navigation {
        .navigation {
            background-color: $color-white;
            padding-left: 4rem;

            display: flex;
            justify-content: flex-start;
            
            &__lists {
            display: flex; 
            justify-content: space-between;      
            align-items: center;
            gap: 2rem;

            }

            &__list {
                list-style: none;
                padding: 10px;

                .red {
                    color: red;
                }
            }

            .btn__blue::before {
                content: url(../img/icons/Line.svg);
                padding-right: 8px;
            }

            &__link {
                display: flex;
                text-decoration: none;
                color: $color-black;
                font-size: 16px;
                font-weight: 400;

                transition: all .5s;
            }

        }
    }

    &__banner {
        &.banner {
            padding: 10rem;
            background-image: url('../img/st_banner\ 1.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        .banner {
            &__title {
                max-width: 48rem;
                color: $color-white;
                font-size: 32px;
                font-weight: 900;
                
            }

            &__description {
                padding: .5rem;

                font-size: 16px;
                font-weight: 400;
             
                color: $color-white;
               
            }
        }
    }
}

.redlast{
    color: red;
}

@media (max-width: 1024px) {
    .header {
        width: 100%;
        height: auto; 

    }
}

@media (max-width: 768px) {
    .header {
        &__head {
            .search__input {
                width: 20.3rem;
            }
            .client {
                gap: .5rem;
            }
        }

        &__navigation {
            .navigation {
                padding-left: 0;
                justify-content: center;

                &__lists {
                    padding: 0;
                    align-items: center;
                }

                &__list {
                    padding: 0;
                }
            }
        }

        &__banner {
            &.banner {
                padding: 4rem;

                .banner__title {
                    font-size: 25px;
                }
            }
        }
    }
}